.text-center {
  text-align: center;
}

.marginb-small {
  margin-bottom: 2rem;
}

.marginb-medium {
  margin-bottom: 4rem;
}

.marginb-large {
  margin-bottom: 6rem;
}

*,
*::before *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  letter-spacing: 1.2px;
  font-family: "FIra sans", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  background-color: #FFFFFF;
}

.heading-primary {
  color: #212121;
  font-size: 2.2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.heading-secondary {
  color: #212121;
  font-size: 2.2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.heading-tertiary {
  color: #212121;
  font-size: 2rem;
  text-transform: uppercase;
}

.heading-4 {
  color: #212121;
  font-weight: 600;
  font-size: 1.8rem;
}

.text-align {
  text-align: center;
}

.btn:link, .btn:visited {
  text-decoration: none;
  font-size: 2rem;
  display: inline-block;
  border-radius: 1rem;
  padding: 1rem 2rem;
  margin-left: 2rem;
  background-color: #795548;
  color: rgb(255, 255, 255);
  font-weight: 700;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
}
@media only screen and (max-width: 56.25em) {
  .btn:link, .btn:visited {
    padding: 1rem 1.5rem;
  }
}
.btn:hover {
  transform: scaleX(1.2);
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.4);
  transform: scaleX(1.2) translateY(3px);
  background-color: #FFC107;
  color: #795548;
}
.btn:active {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: scaleY(1) translateY(1px);
}

.header {
  min-height: 7rem;
  background-color: #795548;
  color: #212121;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2.5rem 4rem;
  border: 1px solid #795548;
}
@media only screen and (max-width: 75em) {
  .header {
    flex-direction: column;
    padding: 1rem 2rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .header {
    flex-direction: column;
    padding: 0;
  }
}
.header__name {
  font-size: 2rem;
  text-transform: uppercase;
}
.header__item {
  display: inline-block;
  padding: 1.5rem 2rem;
  font-size: 1.8rem;
}
@media only screen and (max-width: 37.5em) {
  .header__item {
    padding: 0.5rem;
    font-size: 1.5rem;
  }
}
.header__item:hover {
  background-color: #FFC107;
  color: white;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transform: translatey(-5px);
}
.header__item:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
  transform: translatey(-3px);
}
.header__list {
  list-style: none;
  display: flex;
}
.header__list a:link, .header__list a:visited {
  display: inline-block;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.introduction {
  background-color: #eee;
  background-image: linear-gradient(to right bottom, #D7CCC8, #5D4037);
  background-image: linear-gradient(to right botton, #d7ccc8, #5d4037);
  border: 1px solid rgb(0, 0, 0);
  height: 65vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.element {
  font-size: 3rem;
  text-align: center;
  color: #daa520;
  text-transform: uppercase;
}

.intro__content {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  grid-column: 1/3;
  grid-row: 1/3;
}
@media only screen and (max-width: 75em) {
  .intro__content {
    visibility: hidden;
    grid-column: 1/-1;
    grid-row: 1/3;
  }
}
.intro video {
  display: block;
  width: 100%;
  height: 100%;
  z-index: 2;
  object-fit: cover;
  background-size: contain;
}
.intro__details {
  width: 100%;
  height: 100%;
  grid-row: 1/-1;
  grid-column: 3/-1;
  text-align: center;
  padding: 3rem 0;
}
@media only screen and (max-width: 75em) {
  .intro__details {
    grid-row: 3/-1;
    grid-column: 1/-1;
  }
}
.intro__list {
  list-style: none;
  padding: 1rem 2rem;
  font-size: 1.8rem;
}
.intro__item {
  margin-bottom: 1rem;
}
.intro__link:link, .intro__link:visited {
  text-decoration: none;
  color: #fff;
  background-color: #795548;
  border: 1px solid rgb(255, 255, 255);
  display: inline-block;
  padding: 0.5rem 2rem;
  font-size: 2rem;
}
.intro__link:hover {
  background-color: #FFC107;
  color: white;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transform: translatey(-5px);
}
.intro__link:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
  transform: translatey(-3px);
}

.section-skills {
  text-align: center;
  background-image: linear-gradient(to right bottom, #d7ccc8, #5d4037);
  padding: 5rem 3rem;
  padding-bottom: 10rem;
  border-bottom: 1px solid rgb(0, 0, 0);
}
@media only screen and (max-width: 44em) {
  .section-skills {
    padding: 5rem 0;
  }
}

.card {
  max-height: 70rem;
  text-align: center;
  border: 1px solid rgb(0, 0, 0);
  background-color: #eeeeee;
  border-bottom: 1px solid rgb(0, 0, 0);
}
.card__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: 8rem;
}
.card__img-box {
  height: 30%;
}
.card__img {
  display: block;
  height: 100%;
  width: 100%;
  background-size: cover;
}
.card__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 5rem;
}
@media only screen and (max-width: 37.5em) {
  .card__details {
    padding: 1.5rem 3rem;
  }
}
.card__list {
  list-style: none;
  font-size: 1.8rem;
  padding: 2rem 4rem;
}
@media only screen and (max-width: 37.5em) {
  .card__list {
    padding: 1rem 3rem;
  }
}
.card__item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
}
.card__svg {
  height: 4rem;
  width: 4rem;
  margin-right: 1rem;
}

.about {
  padding: 5rem 2.5rem;
  padding-bottom: 7.5rem;
  border-bottom: 1px solid rgb(0, 0, 0);
  min-height: 50rem;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #795548;
}
.about__left {
  font-size: 2rem;
  margin-right: 1rem;
  animation: left 5s ease-out 3;
  animation-delay: 10s;
  backface-visibility: hidden;
  width: 50%;
  float: left;
}
@media only screen and (max-width: 37.5em) {
  .about__left {
    margin-right: 0;
  }
}
.about__right {
  overflow: hidden;
  object-fit: contain;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  animation: right 5s ease-out 3;
  animation-delay: 10s;
  backface-visibility: hidden;
  width: 20%;
  height: 50%;
  margin: 0 auto;
}
.about__photo {
  display: block;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.about__box {
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  text-align: center;
}

@keyframes left {
  0% {
    transform: translateX(-20rem);
    opacity: 0;
  }
  50% {
    transform: translateX(2.5rem);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes right {
  0% {
    transform: translateX(20rem);
    opacity: 0;
  }
  50% {
    transform: translateX(-2.5rem);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@media (max-width: 52em) {
  .about {
    padding: 2.5rem 7rem;
    padding-bottom: 7.5rem;
    border-bottom: 1px solid rgb(0, 0, 0);
    min-height: 50rem;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
  }
  .about__left {
    font-size: 2rem;
    margin-right: 1rem;
    animation: left 5s ease-out 3;
    animation-delay: 10s;
    backface-visibility: hidden;
    width: 100%;
    float: none;
  }
  .about__right {
    overflow: hidden;
    object-fit: contain;
    /* box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2); */
    animation: right 5s ease-out 3;
    animation-delay: 10s;
    backface-visibility: hidden;
    width: 100%;
    height: 30rem;
  }
  .about__photo {
    display: block;
    height: 100%;
    width: 80%;
    background-size: cover;
    background-position: center;
    margin: 2rem auto;
  }
}
@media only screen and (max-width: 37.5em) {
  .about {
    padding: 5rem 0;
  }
  .about__left {
    margin-right: 0;
  }
}
.section-projects {
  padding: 7.5rem 10rem;
  font-size: 2rem;
  border-bottom: 1px solid rgb(0, 0, 0);
  margin-bottom: 0;
}

.projects {
  text-align: center;
  background-color: rgb(255, 255, 255);
  background-image: linear-gradient(to right bottom, #D7CCC8, #5D4037);
  padding: 2.5rem 5rem;
}
.projects ul {
  list-style: none;
}
.projects ul li {
  margin-bottom: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .projects {
    padding: 2rem 2.5rem;
  }
}
@media only screen and (max-width: 37.25em) {
  .projects {
    padding: 2rem 0;
  }
}
.projects__text {
  font-weight: bold;
}

.span-2 {
  font-size: 2rem;
  color: blue;
  margin-left: 2rem;
}
@media only screen and (max-width: 37.5em) {
  .span-2 {
    visibility: hidden;
  }
}

@media only screen and (max-width: 37.5em) {
  .btn {
    margin-bottom: 1.5rem;
  }
}

.footer {
  min-height: 10rem;
  background-color: #795548;
  text-align: center;
  padding: 2rem 4rem;
}
.footer__list {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 1rem 2rem;
}
.footer__item {
  list-style: none;
  margin-right: 1.5rem;
}
.footer__icon {
  height: 6.5rem;
  width: 6.5rem;
}
.footer__copy {
  font-size: 1.6rem;
}

.section-details {
  padding: 1.5rem 10rem;
  height: 80vh;
  background-color: rgb(255, 255, 255);
}
@media only screen and (max-width: 56.25em) {
  .section-details {
    padding: 1rem 5rem;
  }
}

.details-container {
  margin: 4rem auto;
  height: 80%;
  margin: 2rem 4rem;
}
@media only screen and (max-width: 56.25em) {
  .details-container {
    margin: 0;
  }
}

.details__list {
  font-size: 1.8rem;
  text-align: left;
}
.details__item {
  font-size: 1.6rem;
}
.details__img {
  height: 50%;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
