
.about {
    padding: 5rem 2.5rem;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
border-bottom: 1px solid $color-black;
    max-height: 50rem;

    &__left {
        grid-row: 1 / -1;
        grid-column: 2 / 6;
        font-size: 2rem;
margin-right: 1rem;
animation: left 5s ease-out 3;
animation-delay: 10s;
backface-visibility: hidden;
        ol li {
        
        }
    }

    &__right {
        grid-row: 1 / -1;
        grid-column: 6 / -2;
        overflow: hidden;
        object-fit: contain;
        box-shadow: 0 2rem 4rem rgba(0, 0, 0, .2 );
        animation: right 5s ease-out 3;
        animation-delay: 10s;
    backface-visibility: hidden;
    }

    &__photo {
        display: block;
        // height: 50%;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
    }

    &__box {
        height: 100%;
        width: 100%;
        object-fit: cover;
        overflow: hidden;
    }
}

@keyframes left {
    0%{
        transform: translateX(-20rem);
        opacity: 0;
    }

    50% {
        transform: translateX(2.5rem);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes right {
    0%{
        transform: translateX(20rem);
        opacity: 0;
    }

    50% {
        transform: translateX(-2.5rem);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

