.introduction {
  background-color: $color-grey;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );
  background-image: linear-gradient(
    to right botton,
    rgba($color-primary-light, 1),
    rgba($color-primary-dark, 1)
  );
  border: 1px solid $color-black;
  height: 65vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.element {
  font-size: 3rem;
  text-align: center;
  color: $color-gold;
  text-transform: uppercase;
}

.intro {
  &__content {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    @media only screen and (max-width: 75em) {
      visibility: hidden;
      grid-column: 1 / -1;
      grid-row: 1 / 3;
    }
  }
  video {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
    object-fit: cover;
    background-size: contain;
  }

  &__details {
    width: 100%;
    height: 100%;
    grid-row: 1 / -1;
    grid-column: 3 / -1;
    text-align: center;
    padding: 3rem 0;
    @media only screen and (max-width: 75em) {
      grid-row: 3 / -1;
      grid-column: 1 / -1;
    }
  }

  &__list {
    list-style: none;
    padding: 1rem 2rem;
    font-size: 1.8rem;
  }

  &__item {
    margin-bottom: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      color: #fff;
      background-color: $color-primary;
      border: 1px solid $color-white;
      display: inline-block;
      padding: 0.5rem 2rem;
      font-size: 2rem;
    }

    &:hover {
      background-color: $color-accent;
      color: white;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
      transform: translatey(-5px);
    }

    &:active {
      box-shadow: 0 0.5rem 1rem rgba($color-black, 0.4);
      transform: translatey(-3px);
    }
  }
}

