
.section-projects {
    padding: 7.5rem 10rem;
    font-size: 2rem;
    border-bottom: 1px solid $color-black;
    margin-bottom: 0;
}

.projects {
text-align: center;
    &__text {
        font-weight: bold;
    }

    
}