
$color-white: rgba(255, 255, 255);
$color-black: rgb(0, 0, 0);
$color-grey: #eee;
$color-gold: #daa520;

.text-center {text-align: center;}

.marginb-small {margin-bottom: 2rem;}
.marginb-medium {margin-bottom: 4rem;}
.marginb-large {margin-bottom: 6rem;}


*,
*::before
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.6;
    font-family: sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    padding: 1rem;
    color: $color-black;
}

