
$color-white: rgba(255, 255, 255);
$color-black: rgb(0, 0, 0);
$color-grey: #eee;
$color-gold: #daa520;

$color-primary: #795548;
$color-primary-light: #D7CCC8;
$color-primary-dark: #5D4037;

$color-primary-text: #212121;
$color-secondary-text: #757575;

$color-text-icons: #FFFFFF;
$color-accent: #FFC107;
$color-divider: #BDBDBD;


.text-center {text-align: center;}

.marginb-small {margin-bottom: 2rem;}
.marginb-medium {margin-bottom: 4rem;}
.marginb-large {margin-bottom: 6rem;}


*,
*::before
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.6;
    letter-spacing: 1.2px;
    font-family: 'FIra sans', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    color: $color-black;
    background-color: $color-text-icons;
}

