
.header {
    height: 7rem;
    background-color: $color-grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2.5rem 4rem;

    &__name {
        font-size: 2.2rem;
        text-transform: uppercase;
    }

    &__item {
        border: 1px solid black;
        display: inline-block;
        padding: 1.5rem 2rem;
        &:hover {
            background-color: $color-gold;
            color: white;
            box-shadow: 0 1rem 2rem rgba($color-black, .4);
            transform: translatey(-5px);
                    }

                    &:active {
                        box-shadow: 0 .5rem 1rem rgba($color-black, .4);
            transform: translatey(-3px);
                    }
    }

    &__list {
        list-style: none;
        display: flex;
        &__link {
            &:link,
            &:visited {
                text-decoration: none;
            }
        }
    }

    }




/*
.header {
    // background-image: linear-gradient(to right, blue, blue);
    background-color: #eee;
    height: 10rem;
    padding: 2rem 4rem;
    border-bottom: 1px solid black;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
align-items: center;
@media only screen and (max-width: 700px) {;
      grid-template-rows: repeat(5, 1fr);
      grid-template-columns: 1fr;
    }

    &__name {
        grid-row: 1 / 2;
        grid-column: 1 /span 2;
        margin-left: 1.5rem;
    }

    &__list {
        grid-row: 1/ 2;
        grid-column: -2 / -1;
        display: flex;
        gap: 1rem;
        list-style: none;
        font-size: 1.6rem;
     height: 100%;
    }

    &__item {
        display: flex;
        align-items: center;
        margin: 1rem;
        transition: all .2s;
        &:hover {
            background-color: blue;
            color: white;
            cursor: pointer;
        }
    }

    &__link {
        &:link,
        &:visited {
            text-decoration: none;
            color: black;
            display: inline-block;
            padding: 1rem 2rem;
        }

        &:hover {
            background-color: blue;
            color: white;
        }
    }
}
*/