


.header {
    min-height: 7rem;
    background-color: $color-primary;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2.5rem 4rem;
    border: 1px solid $color-primary;

    @media only screen and (max-width: 75em) {
flex-direction: column;
padding: 1rem 2rem;
}

@media only screen and (max-width: 37.5em) {
    flex-direction: column;
    padding: 0;
    }

    &__name {
        font-size: 2rem;
        text-transform: uppercase;
    }

    &__item {
        // border: 1px solid black;
        display: inline-block;
        padding: 1.5rem 2rem;
        font-size: 1.8rem;
        @media only screen and (max-width: 37.5em) {
            padding: .5rem;
            font-size: 1.5rem;
            }

        &:hover {
            background-color: $color-gold;
            color: white;
            box-shadow: 0 1rem 2rem rgba($color-black, .4);
            transform: translatey(-5px);
                    }

                    &:active {
                        box-shadow: 0 .5rem 1rem rgba($color-black, .4);
            transform: translatey(-3px);
                    }
    }

    &__list {
        list-style: none;
        display: flex;
       a {
            &:link,
            &:visited {
                display: inline-block;
                color: $color-black;
                text-decoration: none;
            }
        }
    }

    }


