
.section-details {
padding: 1.5rem 10rem;
height: 80vh;
}

.details-container {
margin: 4rem auto;
height: 80%;
margin: 2rem 4rem;
}

.details {
&__list {
// list-style: none;
font-size: 1.8rem;
text-align: left;
}

&__item {
font-size: 1.6rem;
}

&__img {
    height: 50%;
    width: 100%;
}


}